In [1]:
import pandas as pd

In [9]:
evh = pd.read_csv("evh_final.csv")
evh.head()

,Locationabbr,Locationdesc,Question,Response,Sample_Size
0,AL,Alabama,Do you have any kind of health care coverage?,Yes,"7,825"
1,AL,Alabama,Do you have any kind of health care coverage?,No,806
2,AK,Alaska,Do you have any kind of health care coverage?,Yes,"3,905"
3,AK,Alaska,Do you have any kind of health care coverage?,No,448
4,AZ,Arizona,Do you have any kind of health care coverage?,Yes,"13,749"

In [68]:
evh_sample = evh[["Locationabbr", "Response", "Sample_Size"]]
evh_sample.head(6)

  Locationabbr Response Sample_Size
0           AL      Yes       7,825
1           AL       No         806
2           AK      Yes       3,905
3           AK       No         448
4           AZ      Yes      13,749
5           AZ       No       1,053

In [74]:
evh_df = evh_sample.groupby(["Locationabbr","Response"]).sum()

In [75]:
evh_df.to_csv('education_vs_healthcare_df')

In [88]:
evh_df.head(6)

                      Sample_Size
Locationabbr Response
AK           No               448
             Yes            3,905
AL           No               806
             Yes            7,825
AR           No               440
             Yes            4,782

In [87]:
evh_df[""]

TypeError: unhashable type: 'list'